.tariff
  .tariff_vehicle
    figure
      img(src= path.images + '/vehicles/' + tariff.name+'.png', alt= tariff.title)
      figcaption
        ul
          each vehicle in tariff.vehicles
            li= vehicle
  .tariff_details
    h3= tariff.title
    details
      summary= tariff.summary.ru
      p= tariff.description.ru
    ul
      li= tariff.parameters.pax + ' pax'
      li= tariff.parameters.bags + ' bags'
      li
        time= tariff.parameters.delay + ' min'
  .tariff_action
    span= tariff.price + ' USD'
    button= btnCheckout.ru
