article
  header
    img(src="images/vehicles/"+name+".png", alt=title)
    h3= title
    p= vehicles
  details
    summary= summary
    p= description
  ul
    li= pax + " pax"
    li= bags + " bag"
    li
      time= wait + " min"
  div
    span= price + " USD"
    button= "Book transfer"
