//- Big offer card with call to action
mixin offer
  article.offer
    figure.offer__vehicle
      picture
        source(srcset= path.images.cars+vehicle.image+".webp" type="image/webp")
        source(srcset= path.images.cars+vehicle.image+".png" type="image/jpeg")
        img(src= path.images.cars+vehicle.image+".png" alt= vehicle.name)
      figcaption
        ul: li= vehicle.cars
    .offer__details
      .offer__vehicle= vehicle.name
      details
        summary= vehicle.details
        p= vehicle.description
      ul
        li= vehicle.capacity.pax+" pax"
        li= vehicle.capacity.bags+" bags"
        li: time= offer.delay+" min"
    .offer__action
      span= offer.price+global.currencies.usd
      button Book transfer

//- Small offer card
mixin offer-small
  .offer.offer-small
    figure
      picture.offer__pic
        source(srcset= path.images.cars+vehicle.image+".webp" type="image/webp")
        source(srcset= path.images.cars+vehicle.image+".png" type="image/jpeg")
        img(src= path.images.cars+vehicle.image+".png" alt= vehicle.name)
      figcaption
        .offer__vehicle= vehicle.name
        .offer__price from
          = " " + offer.price + " " + global.currencies.usd
