.offer
  .offer_vehicle
    figure
      picture
        source(srcset= path.images+"cars/"+vehicle.image+".webp" type="image/webp")
        source(srcset= path.images+"cars/"+vehicle.image+".png" type="image/jpeg")
        img(src= path.images+"cars/"+vehicle.image+".png" alt= vehicle.name)
      figcaption
        ul
          li= vehicle.cars
  .offer_details
    h3= vehicle.name
    details
      summary= vehicle.details
      p= vehicle.description
    ul
      li= vehicle.capacity.pax+" pax"
      li= vehicle.capacity.bags+" bags"
      li
        time= offer.delay+" min"
  .offer_action
    span= offer.price+" USD"
    button Book transfer
