.navbar
  .navbar_logo
    a(href= path.root)
      img(src= path.images+"logo/kiwitaxi_logo_light.svg" alt= page.home.label)

  ul.navbar_menu
    li
      a(href= page.country.name)= page.country.label
    li
      a(href= page.place.name)= page.place.label
    li
      a(href= page.route.name)= page.route.label
    li
      a(href= page.booking.name)= page.booking.label
    li
      a(href= page.checkout.name)= page.checkout.label
    li
      a(href= page.voucher.name)= page.voucher.label
    li
      a(href= page.feedback.name)= page.feedback.label
    li
      a(href= page.vehicle.name)= page.vehicle.label
