extends layouts/_base

block title
  = home.title

block hero
  article
    h1= home.hero.title
    p.lead= home.hero.lead

block main
  article.hiw
    header
      h2= home.hiw.title

    .grid.three
      each item in home.hiw.steps
        figure.hiw__step
          picture.hiw__step__pic
            img(src= path.images.pics+"hiw_"+item.name+".svg" alt= item.title)
          figcaption
            p= item.description + " "
              a(href= menu.primary.about.url)= global.links.learnMore

block secondary
  article.feedback
    header
      h2= home.feedback.title

    .grid
      - var n = 0
      while n < 4
        .card.gray
          +review
          - n++

    footer
      a(href= menu.secondary.feedback.url)= global.links.showAll

block extra
  article.stats
    h3= home.stats.title
    a(href= menu.secondary.feedback.url)= global.links.learnMore

    .grid.four
      each item in home.stats.cases
        figure
          img(src= path.images.icons+"stats_"+item.name+".svg" alt= item.title)
          figcaption
            big= item.number
            p= item.title

block seo
  article.seo
    h3= home.seo.title
    p= home.seo.content

  article.geography
    h4 Geography
    ul.grid.tight
      each item in global.countries
        li= item

    h4 Airports
    ul.grid.tight
      - var n = 0
      while n < 20
        - n++
        li= place.name
