block data
-
  var path = {
    "root": "/",
    "images": "/assets/images/",
    "styles": "/assets/styles/",
    "scripts": "/assets/scripts/"
  }

include ../../data/all

doctype
html(lang="en")
  head
    //- Google tag manager
    script
      include ../../scripts/vendors/gtm_start.js
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="viewport", content="width=device-width")
    link(rel="shortcut icon" href=path.images+"favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href=path.images+"apple-touch-icon.png")
    //- Optional styles
    link(rel="stylesheet" href=path.styles+"print.css" media="print")
    link(rel="stylesheet" href=path.styles+"mobile.css" media="(min-width: 0, max-width: 40em)")
    //- Critical styles
    link(rel="stylesheet" href=path.styles+"main.css")
    link(rel="stylesheet" href=path.styles+"components.css")

  title
    block title
      |Title
  body
    header
      block navbar
        nav
          include ../components/navbar
      block search
        section
          include ../components/search
      block breadcrumb
        section
          include ../components/breadcrumb

    main
      block heading
        |Title

      block content
        |Main content

      block extras
        |Extra content

      block seo
        |SEO content

    footer
      block footer
        include ../components/footer

    noscript
      include ../vendors/gtm_end
